*{
  font-family: Inter;
}
h1 {
  color : #286E7D;
}

h3 {
  color: #286e7d;
  font-size: 25px;
  text-align: center;

}
body {
  background-color: rgb(240, 236, 227);
}

.main{
 font-size: 20px;
}

.name{
  font-size: 40px;
  text-align: justify;
}

th {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

td {
  padding: 12px;
  border-spacing: 12px;
}

hr {
  border-style: dotted none none;
  width: 25%;
  border-width: medium;
}

.contact {
  border-style: inset;
  border-width: thin;
  width: 35%;

}

.contactBody {
  text-align: center;
}
.Experience{
  margin-left: auto;
  margin-right: auto;
}

.lbl{
  vertical-align: 450%;
  ;
}

.skills{
  text-align: center;
  display: flex;
  justify-content: center;
}

.links{
  text-align: center;
}
