*{
  font-family: Inter;
}
h1 {
  color : #286E7D;
}

h3 {
  color: #286e7d;
  font-size: 25px;
  text-align: center;
  
}
body {
  background-color: #fff3e4;
}

.main{
 font-size: 20px;
}

.name{
  font-size: 40px;
  text-align: justify;
}

th {
  padding: 15px;
  font-size: 15px;
  text-align: center;
}

td {
  padding: 20px;
  border-spacing: 12px;
}

hr {
  border-style: dotted none none;
  width: 25%;
  border-width: medium;
}

.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Experience{
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.lbl *{
  vertical-align: middle;
  ;
}

.skills{
  text-align: center;
  display: flex;
  justify-content: center;
}

.skills ul {
  list-style: none;
}

.links{
  text-align: center;
}

.hobbies{
  text-align: center;
  display: flex;
  justify-content: center;
}
.hobbies ul{
  list-style: none;

}

.h31 {
  margin-bottom: 0px;
}

#hobbies {
  text-align: center;
  margin-bottom: 0ch;
}
